/*
General Layout Styles
*/
* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0px 0px;
    background-color: #F8F8F8;
}

.container {
    margin: 0;
    padding: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
/*
Customizing Grid Components
*/
.col-sm-12 {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.row {
    margin: 0;
    padding: 0;
}

div.panel-body {
    padding: 0;
}

div.content-area {
    padding: 0 20px;
}

.content-area iframe {
    border-style: none;

}
.contentBox{
 background: transparent;
}
div.sidebar-area {
    padding: 0;
    background-color: white;
    border-top-color: #44B5F2;
    border-top-style: solid;
    border-top-width: 3px;
}

span.glyphicon {
    padding-right: 10px;
}

.glyphicon-larger {
    font-size: 20px;
}
.navbar-text{
    margin-bottom: 0px;
    margin-top: 0px;
}
.nav-stacked li {
    border-bottom-color: #EEEEEF;
    border-bottom-style: solid;
    border-width: 1px;
    height: 50px;
    margin-top: 2px;

}
/*
Customizing Stacked Navbars
*/
.nav-stacked li.active {
    margin-top: 0px;
}
.nav-stacked {
    min-height:100%;
}
.nav-stacked li a {
    text-transform: uppercase;
    border-radius: 0;
    font-weight: Bold;
    font-size: 12px;
    color: #313541;
}

.nav-stacked li a:hover, .nav-stacked li.active a:hover {
    background-color: white;
    color: #007BB5;
}

.nav-stacked li.active a {
    background-color: white;
    color: #29A9EC;

}
.gd-header-logo{
    background-color: #484C5C;
    color: white;
    margin-bottom: 0px;
    padding-top: 12px;
    border-radius: 0;
    border: 0px;
    height: 60px;
}
.gd-header-grid{
    background-color: #313541;
    color: white;
    margin-bottom: 0px;
    border-radius: 0;
    border: 0px;
    height: 60px;
    padding-right: 0px;
    padding-left: 0px;
}
/*
Customizing NavBar Inverse styles
*/
.navbar-inverse {
    background-color: #313541;
   /* background-image:linear-gradient(to right, rgb( 126,133,154), rgb( 126,133,154)), linear-gradient(to right, rgb( 49,53,65), rgb( 49,53,65));
    background-repeat:no-repeat;
    background-position:0 0,0 0px;
    background-size: 208px 100%, 100% 100%;*/
    color: white;
    margin-bottom: 0px;
    padding-top:10px;
    padding-right: 15px;
    border-radius: 0;
    border: 0px;
    height: 60px;
}
/*
Customizing bootstrap Navbar Dropdown components
*/
.dropdown:hover .dropdown-menu {

}
.dropdown-toggle.btn-default {
    background-color: white;
    color: #007BB5;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.15), 0 0px 0px rgba(0,0,0,.075);
    border-color: transparent;
    height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.dropdown li a:hover, .dropdown li.active a:hover {
    background-color: white;
    color: #007BB5;
}
.dropdown-menu li a:hover, .dropdown-menu li.active a:hover {
    background-color: white;
    color: #007BB5;
}

.dropdown-menu li.active a {
    background-color: white;
    color: #29A9EC;

}
/*
GoodData Custom Breadcrumb Components
*/
.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
}

.breadcrumb > li + li:before {
    color: #7e859a;
}
.gd-custom-breadcrumb {
    margin: 0px;
    color: #7e859a;
    background-color: transparent;
    font-size: 10px;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    padding-left: 0px;

}
/*
GoodData Custom Navigation Components
*/

.gd-custom-dashboard-header {
    width: 942px; /* TODO: Remove when no more iFrames */
}

.gd-custom-panel-navigation.panel.panel-default{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: transparent;
    box-shadow: none;
}
.gd-custom-navbar {
    margin: 0px;
    background: transparent;
    border: 0px;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,0);
    padding-top: 15px;
}
.gd-custom-navbar .gd-custom-navbar-text {
    margin: 0px 0px 0px 0px;
    color: #313541;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-top: 0px;
}

/*
Styles to customer DashboardNavHeader buttons via custom class
*/
.button-see-more {
    width: 96px;
    height: 27px;
    border-radius: 100px;
    background-color: #f14d76;
    font-weight: normal;
    padding-right: 12px;
}
/*
Styles for PanelDismissable Component
*/
.dismissable{
    margin-bottom: 10px;
    width: 942px; /* TODO: Remove when fixed width no longer needed */
}

.alertPanel {
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 0px 0 #fff;
    opacity: .5;
    height: 18px;
    width: 18px;
    position: relative;
    top: 10px;
    left: 15px;
}

.alertPanel-info, .alertPanel-primary{
    background: transparent url("/static/images/alert_info_white.png") no-repeat;
    opacity: 1;
    border: none;
    height: 14px;
    width: 15px;
}
.alertPanel-danger, .alertPanel-warning {
    background: transparent url("/static/images/alert_warning_white.png") no-repeat;
    opacity: 1;
    border: none;
    height: 14px;
    width: 15px;
}
.dismissable .panel-heading {
    height 32px; !important;
}
.dismissable .panel-heading h4 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.panel-danger>.panel-heading {
    color: white;
    background-color: #f14d76;
    border-color: #f14d76;
    background-image:none;
    border-radius: 0px;
}
.panel-danger>.panel-heading+.panel-collapse>.panel-body {
    color: #7e859a;
    margin-top: 12px;
    margin-bottom: 5px;
}

.panel-info>.panel-heading {
    color: white;
    background-color: #47baf6;
    border-color: #47baf6;
    background-image:none;
    border-radius: 0px;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
    color: #7e859a;
    font-family: "Open Sans";
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    color: #7e859a;
    font-family: "Open Sans";
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.panel>.panel-collapse>.panel-body>p>a {
    color: #29a9ec;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 5px;
}
.panel-title{
    padding-left: 20px;
}
.closePanel-default {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 0px 0 #fff;
    position: relative;
    top: 10px;
    /* float: right;
    right: 15px; */
    float: left; /* TODO: remove when fixed size not needed */
    left: 890px; /* TODO: remove when fixed size not needed */
    background: transparent url("/static/images/alert_close_white.png");
    opacity: 1;
    border: none;
    height: 16px;
    width: 17px;
}
.collapse.in{
     margin: 0px;
     padding: 5px 15px;
}

.gd-custom-heading{
    padding-left: 0px;
    font-size: 20px;
    font-weight: normal;
    color: white;
}
.gd-custom-heading.navbar-text{
    color: white;
}
/*
Styles for form controls
*/
.filter-right-align{
    float: right;
    padding-right: 15px;
}
.control-label{
    padding-right: 2px;
    padding-left: 10px;
    font-size: 12px;
    color: #7e859a;
    text-align: right;
    font-weight: 100;
}
.control-label-left-border{
    border-left: 1px solid #7e859a;
}
.form-control{
    color: #29a9ec;
    height: 27px;
    border: 0px;
    background-color: transparent;
    box-shadow: none;
}
select.gd-custom-filter {
    border:0px;
    outline:0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:transparent;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
select.gd-custom-filter:active {
    border:0px;
    outline:0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:transparent;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}

/*
Used to Style text contained with <glyphicon> tags
*/
#glyphicon-text{
    padding-left:10px;
    font-size:14px;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
}

/*
Header components reference by ID
*/
#company-name{
    padding-top: 7px;
    margin: 0px;
    vertical-align: center;
    font-size: 20px;
    font-weight: normal;
    color: white;
    font-family: "Open Sans",sans-serif;
}
#product-category{
   /* background-color: #7e859a;*/
    padding-top: 12px;
    padding-left: 15px;
    margin-left: 0px;
    vertical-align: center;
    font-size: 13px;
    font-weight: normal;
    color: white;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
}
#user{
    padding-left: 0px;
    vertical-align: center;
    font-size: 12px;
    font-weight: normal;
    color: white;
    font-family: "Open Sans",sans-serif;
}
#avatar{
    border: 2px solid white;
    height: 42px;
}
