* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0px 0px;
    background-color: #F8F8F8;
}

.container {
    margin: 0;
    padding: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.col-sm-12 {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.row {
    margin: 0;
    padding: 0;
}

/*div.panel {
    border-radius: 2px;
    padding: 20px;
    margin: 10px;
}*/

div.panel-body {
    padding: 0;
}

div.content-area {
    padding: 0 20px;
}

.content-area iframe {
    border-style: none;

}
div.sidebar-area {
    padding: 0;
    background-color: white;
    border-top-color: #44B5F2;
    border-top-style: solid;
    border-top-width: 3px;
}

span.glyphicon {
    padding-right: 10px;
}

.glyphicon-larger {
    font-size: 20px;
}
.navbar-text{
    margin-bottom: 0px;
    margin-top: 0px;
}
.nav-stacked li {
    border-bottom-color: #EEEEEF;
    border-bottom-style: solid;
    border-width: 1px;
    height: 50px;
    margin-top: 2px;

}

.nav-stacked li.active {
    margin-top: 0px;
}
.nav-stacked {
    min-height:100%;
}
.nav-stacked li a {
    text-transform: uppercase;
    border-radius: 0;
    font-weight: Bold;
    font-size: 12px;
    color: #313541;
}

.nav-stacked li a:hover, .nav-stacked li.active a:hover {
    background-color: white;
    color: #007BB5;
}

.nav-stacked li.active a {
    background-color: white;
    color: #29A9EC;

}
.navbar-inverse {
    background-color: #313541;
    color: white;
    margin-bottom: 0px;
    padding-top:10px;
    border-radius: 0;
    height: 60px;
}
.dropdown:hover .dropdown-menu {

}
.dropdown-toggle.btn-default {
    background-color: white;
    color: #007BB5;
    background-image: none;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.15), 0 0px 0px rgba(0,0,0,.075);
    border-color: transparent;
    height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.dropdown li a:hover, .dropdown li.active a:hover {
    background-color: white;
    color: #007BB5;
}
.dropdown-menu li a:hover, .dropdown-menu li.active a:hover {
    background-color: white;
    color: #007BB5;
}

.dropdown-menu li.active a {
    background-color: white;
    color: #29A9EC;

}
.navbar-default {
}
/*
GoodData Custom Breadcrumb Components
*/
.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
}
.gd-custom-breadcrumb {
    margin: 0px;
    fond-size: 10px;
    background: transparent;
    background-color: none;
}
/*
GoodData Custom Navigation Components
*/
.gd-custom-panel-navigation.panel.panel-default{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: transparent;
    box-shadow: none;
}
.gd-custom-navbar {
    margin: 0px;
    background: transparent;
    border: 0px;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,0);
    padding-top: 15px;
}
.gd-custom-navbar-text {
    margin: 0px;
}
.breadcrumb > li + li:before {
    color: #7e859a;
}
.gd-custom-breadcrumb {
    color: #7e859a;
}

.button-see-more {
    width: 96px;
    height: 27px;
    border-radius: 100px;
    background-color: #f14d76;
    font-weight: normal;
}
.alertPanel {
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 0px 0 #fff;
    opacity: .5;
    height: 18px;
    width: 18px;
    position: relative;
    top: 10px;
    left: 15px;
}

.alertPanel-info, alertPanel-primary{
    background-color: transparent;
    background-image: url("/static/images/alert_info.png");
    opacity: 1;
    border: none;
    height: 14px;
    width: 15px;
}
.alertPanel-warning {
    background-image: url("/static/images/alert_danger.png");
}
.alertPanel-danger, alertPanel-warning {
    background-color: transparent;
    background-image: url("/static/images/alert_danger.png");
    opacity: 1;
    border: none;
    height: 14px;
    width: 15px;
}
.panel-title{
    padding-left: 20px;
}
.closePanel-default {
    float: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: relative;
    top: 10px;
    right: 15px;
}
.collapse.in{
     margin: 0px;
     padding: 5px;
}

.gd-custom-heading{
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
    color: white;
}
.gd-custom-heading.navbar-text{
    color: white;
}
.control-label{
    padding-right: 20px;
    font-size: 10px;
    font-weight: normal;
    color: #7e859a;
}
.form-control{
    color: #29a9ec;
}
select.gd-custom-filter {
    border:0px;
    outline:0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:transparent;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
select.gd-custom-filter:active {
    border:0px;
    outline:0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:transparent;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
